<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%date{dd/MM/yyyy HH:mm:ss} %-30logger{20} : %msg%n</Pattern>
    </layout>
  </appender>
  
  <logger 	name="br.com.ibnetwork.xingu" 
  			additivity="false" 
  			level="info">
    <appender-ref ref="CONSOLE"/>
  </logger>

  <logger 	name="oikos" 
  			additivity="false" 
  			level="debug">
    <appender-ref ref="CONSOLE"/>
  </logger>
  
  <root level="warn">
    <appender-ref ref="CONSOLE"/>
  </root>
  
</configuration>